<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aje.logic16.app" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.aje.logic16.app.StartPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aje.logic16.app.GameScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_screen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.aje.logic16.app.HighScoreActivity"
            android:label="@string/title_activity_high_score" >
        </activity>

        <activity
            android:name="com.aje.logic16.app.WonGameActivity"
            android:label="@string/title_activity_high_score"
            android:theme="@style/Transparent">
        </activity>

        <activity
            android:name="com.aje.logic16.app.GameOverActivity"
            android:label="@string/title_activity_high_score"
            android:theme="@style/Transparent">
        </activity>

    </application>

</manifest>
